<div class="single-comment-wrap group">
  <div class="comment-profile-image"><%= image_tag comment.user.profile_pic %></div>
  <p class="comment-note">
    	<span class="user-name"><%= comment.user.name %></span> &mdash; <%= comment.comment_text %></a>
  </p>
</div>
