<div class="container">
  <b>Contacts:</b>
  <% @users_from_contacts.each do |user| %>
  <div class="">
    <p class=""><%= image_tag user.profile_pic %></p>
    <p class="">Name: <%=  user.name %></p>
    <p class="">Email: <%=  user.email %></p>
  </div>
  <% end %>
</div>
