html,
body
  height: 100%
  width: 100%
  color: $text_color
html
  font-size: 18px
  line-height: 1.5em
  font-family: Helvetica, sans-serif
  font-weight: 300
  background: #dfedf9

strong
  font-weight: 400

body
  padding-right: 1em
  padding-left: 1em

*, :after, :before
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

.group:before,
.group:after
  content: ""
  display: table
.group:after
  clear: both
.group
  zoom: 1

.container
  max-width: 780px
  margin: 0 auto
  zoom: 1
  &:before,
  &:after
    content: ""
    display: table
  &:after
    clear: both
