.tyml-container
  background: white
  margin: 1em 1em 1em 4.444444444em
  padding: 1em
  position: relative
  line-height: 1.4
  -webkit-border-radius: 2px
  -moz-border-radius: 2px
  border-radius: 2px
  font-family: 'proxima-nova', Helvetica, sans-serif
  font-weight: normal
  + .tyml-container
    margin-top: 3em
  -webkit-box-shadow: 0 0 7px rgba(black, 0.15)
  -moz-box-shadow: 0 0 7px rgba(black, 0.15)
  box-shadow: 0 0 7px rgba(black, 0.15)
  @include respond-to(xsmall)
    margin: 1em 5%

.tyml-container a
  color: #3f9aff

.tyml-header

.tyml-profile-image
  overflow: hidden
  width: 3.333333333em
  height: 3.333333333em
  margin: 0.5em 0 0 -4.444444444em
  position: absolute
  left: 0
  top: 0
  border: 3px solid white
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%
  text-align: center
  img
    width: 100%
    height: auto
  @include respond-to(xsmall)
    position: relative
    margin: 0 auto 0.5em auto
    float: none
.tyml-user
  font-weight: 600
  span
    display: inline-block
    font-weight: 300
  @include respond-to(xsmall)
    text-align: center
    padding-left: 0
    span
      display: block
      font-size: 0.75em
.tyml-url
  color: #3f9aff
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  font-size: 1.333333333em
  a
    color: #3f9aff
  @include respond-to(xsmall)
    text-align: center
    clear: left

.tyml-content-wrap
  @include respond-to(xsmall)
    float: none
    padding-left: 0

.tyml-note
  padding-top: 0.4em
  time
    font-size: .777777778em
    color: #a2a2a2
  @include respond-to(xsmall)
    text-align: center


.tyml-viewed
  display: none
  position: absolute
  top: 1em
  right: 1em
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  border: 1px solid #aaa
  line-height: 1
  line-height: 0.65em
  padding: 0.2em 0.3em 0.2em 0.3em
  span
    font-size: 0.65em
  a
    color: #aaa
    text-decoration: none
  &[data-state="unread"]
    border-color: red
    a
      color: red
  &[data-state="read"]
    border-color: #3aad4b
    a
      color: #3aad4b
