.header
  color: #163a58
  margin-bottom: 1em
  .logo
    width: auto
    float: left
    display: block
  nav
    text-align: right
    margin: 1em auto
    line-height: 1.8em
    a
      color: #163a58
      text-decoration: none
      margin-left: 1em
      &:hover
        text-decoration: underline
      &:first-child
        margin-left: 0
    @include respond-to(xsmall)
      font-size: 0.75em
      a
        margin-left: 0.75em
    .nav-button
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
      background: #aaa
      padding: 0.25em 0.5em
      line-height: 1
      color: white
